<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
<!-- parameterType 이나 resultType을 패키지까지 포함된 클래스명 작성하는게 번거로울때 -->
<!-- 설정한다면 생략한 채로 표현하는 것이 가능하다. -->
	<typeAliases>
		<package name="org.ssoledot.domain"/>
	</typeAliases>


</configuration>